<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Milk Revolution</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <div id="app">
    <nav class="navbar nav sticky-top navbar-dark bg-dark navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/admin">Milk Revolution</a>
            </div>
            <ul class="nav justify-content-center">
                <li><h4 style="color:white">Pending List</h4></li>
            </ul>
            <ul class="nav justify-content-right">
            <li class="nav-item"><a class="nav-link" href="/logout"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
            </ul>
        </div>
    </nav>
        <div>
            <div id="sidenav">
                <ul>
                    <div style="margin-top:40px;"></div>
                    <li><p> Date {{date}}</p></li>
                    <li><a href="/admin">Dashboard</a></li>
                    <li><a href="/admin/buy">Buyers</a></li>
                    <li><a href="/admin/sell">Sellers</a></li>
                    <li><a href="/admin/pending">Pending</a></li>
                    <li><a href="/admin/products">Products</a></li>
                    <li><a  class="act" href="/admin/stock">Stock</a></li>
                    <li><a href="/admin/email">Email</a></li>
                </ul>
            </div>
            <div class="main">
                <div>
                    <div class="scrollmenu">
                        <h3 class="text-center">Product(s) List & Stock Updation</h3>
                        <%if(list.length < 1 ){%>
                            <div class="alert alert-secondary text-center" role="alert">
                               No Product(s) Found
                            </div>
                        <%}else{%>
                            <table class="table text-center">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Cost </th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i =0;i<list.length;i++){%>
                                    <tr>
                                    <th scope="row"><%=i+1%></th>
                                    <td><%=list[i].title%></td>
                                    <td> ₹ <%=list[i].cost%></td>
                                    <td><%= list[i].stock == 'true' ? 'In Stock' : 'Out Of Stock'%></td>
                                    <td>
                                        <a href="/admin/stock/true/<%=list[i].id%>" class="btn btn-warning">In Stock</a>
                                        <a href="/admin/stock/false/<%=list[i].id%>" class="btn btn-danger" >Out Of Stock</a>
                                    </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        new Vue({
        el:'#app',
        data:{
            date:''
        },
        created() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            let month = Number(date.getMonth() ) + 1
            this.date =   date.getDate() + "/" + month  + "/" + date.getFullYear() ;
        },
    })
    </script>
</body>
</html>