<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <div id="app">
        <nav class="navbar nav sticky-top navbar-dark bg-dark navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/admin">Milk Revolution</a>
                </div>
                <ul class="nav justify-content-center">
                    <li><h4 style="color:white">Products Section</h4></li>
                </ul>
                <ul class="nav justify-content-right">
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div id="sidenav">
            <ul>
                <div style="margin-top:40px;"></div>
                <li><p> Date {{date}}</p></li>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="/admin/buy">Buyers</a></li>
                <li><a href="/admin/sell">Sellers</a></li>
                <li><a href="/admin/pending">Pending</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="/admin/stock">Stock</a></li>
                <li><a href="/admin/email">Email</a></li>
            </ul>
        </div>
        <div class="main">

        <h1 class="text-center">Update Product</h1>
        <% if(msg!=null){%>
            <div id="flash" class="text-center alert alert-<%=alert%>">
                <%=msg%>
            </div>
        <%}%>
        <br>
        <div class="container">
                <form action="/admin/products/update/<%=list.id%>" method="post" autocomplete="off" >
                    <div class="form-group">
                        <label for="prod">Product Name</label>
                        <input type="text" class="form-control" id="prod" placeholder="Curd" requierd name="title" value="<%=list.title%>">
                    </div>
                    <div class="form-group">
                        <label for="des">Discription Of This Product</label>
                        <textarea class="form-control" id="des" rows="3" required name="msg"><%=list.msg%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prod">Product Cost in ₹</label>
                        <input type="number" class="form-control" id="prod" placeholder="10" requierd name="cost" value="<%=list.cost%>">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg btn-block">Add Product</button>
                </form>
                <br><br><br><br>
        </div>
    </div>
    
    <script>
            new Vue({
            el:'#app',
            data:{
                date:''
            },
            created() {
                var date = new Date();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                let month = Number(date.getMonth() ) + 1
                this.date =   date.getDate() + "/" + month  + "/" + date.getFullYear() ;
            },
        })
        </script>
</body>
</html>